/* -------- Fonts -------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&display=swap');

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* -------- Fonts -------- */

/* -------- Reset -------- */

@import url('reset.css');

/* -------- Reset -------- */

/* -------- Variables -------- */

:root {
	--text: #4d1f08;
}

/* -------- Variables -------- */

/* -------- Global -------- */

body {
	font-size: 20px;
	background-color: #fff2eb;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	color: var(--text);
	line-height: 120%;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

[class*='__container'] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

main {
	flex: 1 1 auto;
}

/* -------- Global -------- */

/* -------- Modules -------- */

.link-arrow {
	display: flex;
	align-items: center;
	line-height: 94.6%;
	font-size: 28px;

	& img {
		margin-left: 10px;
		transition: 0.2s ease all;
	}

	&:hover {
		& img {
			transform: translateX(5px);
		}
	}
}

.title {
	font-weight: 400;
	font-size: 80px;
	text-transform: capitalize;
}

/* -------- Modules -------- */

/* -------- Header -------- */

.header {
	padding: clamp(30px, 5vw, 49px) 0;
	animation: .8s header-anim;

	.header__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		font-size: clamp(32px, 5vw, 48px);
	}

	.header__menu {
	}

	.header__list {
		display: flex;
		gap: clamp(20px, 5vw, 40px);
	}

	.header__item {
	}

	.header__link {
		font-size: clamp(21px, 4vw, 28px);
		font-weight: 600;
		line-height: 80.6%;
		transition: 0.2s ease opacity;

		&:hover {
			opacity: 0.6;
		}
	}

	@media (max-width: 768px) {
		.header__logo {
			z-index: 3;
		}

		.header__menu {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100vh;
			background-color: #fff2eb;
			display: grid;
			place-content: center;
			transition: 0.5s ease-in-out right;

			.header.active & {
				right: 0;
			}
		}

		.header__list {
			flex-direction: column;
			text-align: center;
			gap: 60px;
		}

		.header__link {
			font-size: 31px;
			transition: 0.2s ease opacity;
		}
	}
}

@keyframes header-anim {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#burger {
	width: 30px;
	height: 10px;
	position: relative;
	display: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		background-color: var(--text);
		transition: 0.4s all;
	}

	&::before {
		left: 0;
		top: 0;
		width: 100%;
	}

	.header.active &::before {
		transform: rotate(-45deg);
		top: 5px;
	}

	&::after {
		right: 0;
		bottom: 0;
		width: 70%;
	}

	.header.active &::after {
		transform: rotate(45deg);
		bottom: 3px;
		width: 100%;
	}

	@media (max-width: 768px) {
		display: flex;
		z-index: 3;
	}
}

/* -------- Header -------- */

/* -------- Hero -------- */

.hero {
	padding-top: 55px;
	animation: .8s hero-anim;

	.hero__container {
	}

	.hero__title {
		text-align: center;
		font-size: clamp(56px, 5vw, 85px);
		font-style: italic;
		line-height: 80.6%;
		margin-bottom: clamp(36px, 5vw, 41px);
	}

	.hero__subtitle {
		font-family: Playfair Display;
		text-align: center;
		font-size: clamp(30px, 5vw, 96px);
		font-weight: 500;
		line-height: 91%;
		margin-bottom: clamp(50px, 5vw, 80px);
	}

	.hero__image {
		width: 100%;
		object-fit: cover;
		height: clamp(350px, 15vw, 453px);
		margin-bottom: 45px;
	}

	.hero__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	.hero__desc {
		font-size: clamp(25px, 5vw, 28px);
		font-style: italic;
		line-height: 100.6%;
	}

	.hero__link {
	}
}

@keyframes hero-anim {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* -------- Explore -------- */

.explore {
	padding-top: clamp(110px, 10vw, 260px);

	.explore__container {
	}

	.explore__row {
		display: flex;
		align-items: center;
		gap: clamp(60px, 5vw, 110px);
	}

	.explore__image {
		flex: 1 1 40%;
		width: 100%;

		& img {
			max-width: 100%;
		}
	}

	.explore__content {
		flex: 1 1 60%;
	}

	.explore__title {
		line-height: 120%;
		margin-bottom: clamp(40px, 5vw, 55px);
		font-size: clamp(50px, 5vw, 80px);
	}

	.explore__text {
		margin-bottom: clamp(50px, 5vw, 75px);
	}

	.explore__link {
	}

	@media (max-width: 768px) {
		.explore__row {
			flex-direction: column;
			justify-content: center;
		}

		.explore__image,
		.explore__content {
			flex-basis: 1 1 auto;
		}

		.explore__image {
			display: flex;
			justify-content: center;
		}
	}
}

/* -------- Explore -------- */

/* -------- Catalog -------- */

.catalog {
	padding-top: clamp(110px, 10vw, 260px);

	.catalog__container {
	}

	.catalog__title {
		font-size: clamp(50px, 5vw, 80px);
		margin-bottom: clamp(60px, 5vw, 140px);
		text-align: center;
		line-height: 120%;
	}

	.catalog__row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
		justify-items: center;
		gap: 30px;
	}

	.catalog__item {
		transition: 0.4s ease all;

		& img {
			max-width: 100%;
		}

		&:hover {
			opacity: 0.6;
			transform: scale(1.05);
		}
	}

	.catalog__subtitle {
		font-size: 32px;
		margin-bottom: 26px;
		font-weight: 700;
	}
}

/* -------- Catalog -------- */

/* -------- Blog -------- */

.blog {
	padding-top: clamp(150px, 10vw, 260px);
	margin-bottom: 100px;

	/* .blog__container {
	} */

	.blog__title {
		font-size: clamp(50px, 5vw, 80px);
		line-height: 120%;
		margin-bottom: clamp(60px, 5vw, 140px);
	}

	.blog__row {
		display: flex;
		gap: 30px;
	}

	.blog__item {
		flex: 1 1 70%;

		& img {
			max-width: 100%;
			margin-bottom: 1.5rem;
		}
	}

	.blog__item:nth-child(2) {
		flex: 1 1 30%;
		margin-bottom: 17px;
	}

	.blog__date {
		margin-bottom: clamp(25px, 5vw, 39px);
		color: #957461;
		font-family: 'Poppins';
		font-size: 18px;
		font-weight: 400;
	}

	.blog__subtitle {
		margin-bottom: clamp(25px, 5vw, 39px);
		font-size: clamp(26px, 5vw, 36px);
		font-weight: 700;
		line-height: 120%;
		text-transform: capitalize;
	}

	.blog__text {
		margin-bottom: clamp(25px, 5vw, 39px);
	}

	.blog__link {
		display: flex;
		align-items: center;
		font-size: clamp(21px, 5vw, 28px);
		transition: 0.2s ease opacity;
		text-decoration: underline;

		&:hover {
			opacity: 0.6;
		}
	}

	@media (max-width: 768px) {
		.blog__row {
			flex-wrap: wrap;
		}
	}
}

/* -------- Blog -------- */

/* -------- Video -------- */

.video {}

.video__container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.video__container div {
	flex: 1 1 32%;
}

.video__container video {
	max-width: 100%;
	width: 100%;
}

/* -------- Video -------- */

/* -------- Types -------- */

.types {
	margin-top: 100px;
}

.types__container {}

.types__title {
	font-size: clamp(50px, 5vw, 80px);
	line-height: 120%;
	margin-bottom: 50px;
}

.types__list {
	margin-left: 50px;
}

.types__list > ul {
	margin-left: 20px;
	list-style: disc;
}

.types__list li {
	list-style: disc;
}

.types__list li ul {
	padding: 10px;
	margin-left: 20px;
}

/* -------- Types -------- */

/* -------- Subscribe -------- */

.subscribe {
	background: url('/images/subscribe/subscribe.jpg') center / cover no-repeat;
	padding: clamp(100px, 10vw, 178px) 0 clamp(80px, 10vw, 154px);
	margin-top: clamp(50px, 15vw, 100px);

	/* .subscribe__container {
	} */

	.subscribe__title {
		color: black;
		font-size: clamp(38px, 5vw, 80px);
		line-height: 120%;
		text-transform: capitalize;
		margin-bottom: clamp(80px, 5vw, 127px);
	}

	.subscribe__form {
		display: flex;
		align-items: center;
	}

	.subscribe__input {
		padding: clamp(21px, 2vw, 27px) clamp(23px, 4vw, 41px);
		width: 850px;
		font-size: clamp(16px, 4vw, 20px);
		font-family: Poppins;

		&::placeholder {
			font-size: clamp(18px, 5vw, 20px);
			font-family: Poppins;
			color: var(--text);
		}
	}

	.subscribe__btn {
		display: inline-block;
		padding: clamp(24px, 2vw, 30px) 47px;
		background-color: #957461;
		font-size: 20px;
		color: #fff;
		transition: 0.2s ease opacity;

		&:hover {
			opacity: 0.6;
		}
	}

	@media (max-width: 768px) {
		.subscribe__form {
			flex-direction: column;
		}

		.subscribe__input {
			max-width: 100%;
		}

		.subscribe__btn {
			width: 100%;
			text-align: center;
		}
	}
}

/* -------- Subscribe -------- */

/* -------- Footer -------- */

.footer {
	padding: clamp(60px, 5vw, 165px) 0;
	background-color: #957461;
	color: #fff;

	.footer__container {
	}

	.footer__row {
		display: flex;
		justify-content: space-between;
		gap: clamp(100px, 10vw, 300px);
	}

	.footer__item {
		flex: 1 1 33.333%;
	}

	.footer__logo {
		font-size: 48px;
		font-weight: 700;
		line-height: 80.6%;
		margin-bottom: 53px;
		display: inline-block;
	}

	.footer__text {
		max-width: 440px;
		font-family: Poppins;
		line-height: 120%;
		font-weight: 400;
		margin-bottom: 53px;
	}

	.footer__title {
		font-size: 36px;
		margin-bottom: 40px;
	}

	.footer__list {
		font-family: Poppins;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.footer__link {
		transition: 0.2s ease opacity;

		&:hover {
			opacity: 0.7;
		}
	}

	@media (max-width: 950px) {
		.footer__row {
			flex-wrap: wrap;
		}
	}
}

.social__list {
	display: flex;
	gap: 40px;
}

.social__item {
}

.social__link {
	font-size: 30px;
	transition: 0.2s ease all;
	position: relative;

	&:hover {
		opacity: 0.7;
		font-size: 32px;
	}
}

/* -------- Footer -------- */
